<!-- 05. cta_area -->
<div class="cta_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cta text-center">
                    <span class="animated a_fu">The best product for you!</span>
                    <h1 class="animated a_fu" data-delay=".2s">Product in real from <br>your imagination!</h1>
                    <div class="cta_btn animated a_fu" data-delay=".4s">
                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Download Trial Version &nbsp;<i class="icofont icofont-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="scene">
        <li class="layer" data-depth="0.20">
            <img src="img/shape/shape-2.png" alt="">
        </li>
        <li class="layer" data-depth="0.40">
            <img src="img/shape/shape-1.png" alt="">
        </li>
    </ul>
</div>
<!-- 05. /cta_area -->