<!-- 12. cta_2 -->
<div class="cta_2 animated a_fu" id="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="h1">One of the best product for the smart people.</div>
            </div>
            <div class="col-md-4">
                <div class="cta_btn">
                    <a href="#" class="default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>

                    <a href="https://www.youtube.com/watch?v=WixYDPyHohI" data-rel="prettyPhoto">Watch our video</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 12. /cta_2 -->