<!-- 11. faq_area -->
<div class="faq_area spt100 animated a_fu" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-8 faq">
                <div class="faq_title">
                    <p>Have a question in mind?</p>
                    <div class="h1">Frequently Asked Questions</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single_faq">
                            <div class="h4">1. How can I install this?</div>
                            <p>Had strictly mr handsome mistaken cheerful. We it so if resolution invitation remarkably unpleasant  conviction. As into ye then form. To easy five less if  rose were. Now set offended own out required.</p>
                        </div>
                        <div class="single_faq">
                            <div class="h4">3. How can I manage my tasks?</div>
                            <p>Had strictly mr handsome mistaken cheerful. We it so if resolution invitation remarkably unpleasant  conviction. As into ye then form. To easy five less if  rose were. Now set offended own out required.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single_faq">
                            <div class="h4">2. How can I pay for this?</div>
                            <p>Had strictly mr handsome mistaken cheerful. We it so if resolution invitation remarkably unpleasant  conviction. As into ye then form. To easy five less if  rose were. Now set offended own out required.</p>
                        </div>
                        <div class="single_faq">
                            <div class="h4">4. How to create a reminder?</div>
                            <p>Had strictly mr handsome mistaken cheerful. We it so if resolution invitation remarkably unpleasant  conviction. As into ye then form. To easy five less if  rose were. Now set offended own out required.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="newsletter">
                    <div class="h2">Subscribe to our <br>newsletter today!</div>
                    <p>We send our new offers and app updates  to your inbox directly. Subscribe with your email today!</p>
                    <form action="php/subscribe.php" method="post" id="subscribeforme" class="nw_form">
                        <div class="input-group">
                            <input type="email" name="email" placeholder="Enter your email address">
                            <div class="input-group-addons">
                                <input type="submit" id="js-subscribe-btne" value="Subscribe now">
                            </div>
                        </div>
                        <div id="js-subscribe-resulte" class="text-center confirmation_msg" data-success-msg="Almost finished. Please check your email and verify." data-error-msg="Oops! This email id is already in our list">
                            <p>
                                &nbsp;
                            </p>
                        </div>
                    </form>
                    <span>We dont’t share any of your information to other and your information is totally secured.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="featured_clients animated a_fu">
                    <div class="h4">we are featured on</div>
                    <div class="featured_slider">
                        <a href="#"><img src="img/17.jpg" alt=""></a>
                        <a href="#"><img src="img/12.jpg" alt=""></a>
                        <a href="#"><img src="img/13.jpg" alt=""></a>
                        <a href="#"><img src="img/14.jpg" alt=""></a>
                        <a href="#"><img src="img/15.jpg" alt=""></a>
                        <a href="#"><img src="img/16.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 11. /faq_area -->