
<!-- 02. feature_area -->
<div class="feature_area sp100 animated a_fu" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title animated a_fu">
                    <div class="h1">You’ll be happy to see <br>our awesome features.</div>
                </div>
            </div>
        </div>
        <div class="row features">
            <div class="col-md-4">
                <div class="feature_dsc animated a_fu">
                    <div class="clearfix">
                        <span>NEW:</span> <h4>We have added new feature <br>to our device.</h4>
                    </div>
                    <div class="feature_txt">
                        <p>Attended no do thoughts me on dissuade  scarcely. Own are pretty spring suffer old demo his. By proposal speedily mr striking am. But  attention six questions applauded how  happiness. To travelling occasional at oh  sympathize prosperous.</p>
                    </div>
                    <a href="#" class="read_me">Show me more <i class="icofont icofont-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature_img animated a_fu">
                    <img src="img/02.png" alt="">
                </div>
            </div>
            <div class="col-md-4 animated a_fu">
                <div class="single_feature">
                    <div class="sf_inner">
                        <h4>Well Planed UX Design</h4>
                        <p>Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions.</p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="sf_inner">
                        <h4>Creative & Minimal Layout</h4>
                        <p>Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions.</p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="sf_inner">
                        <h4>Fastest in Speed</h4>
                        <p>Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 02. /feature_area -->
