<!-- 08. funfact_area -->
<div class="funfact_area animated a_fu" id="fact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 counter_col clearfix">
                <div class="single_fact">
                    <div class="h1"><span class="count">10</span>M+</div>
                    <span>Download</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">4</span>M+</div>
                    <span>Active Users</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">8910</span></div>
                    <span>Line of codes</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">20</span>k</div>
                    <span>Solutions</span>
                </div>
            </div>
            <div class="col-md-4 counter_col clearfix">
                <div class="fun_content">
                    <div class="h3">One is an awesome app</div>
                    <p>Spot of come to ever hand as lady meet on. Delicate  contempt received two yet advanced. Gentleman as  belonging he commanded believing dejection in by.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 08. /funfact_area -->