<div class="home_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 home_col">
                <div class="home_content animated a_fl">
                    <div class="h1">The best <br>landing page <br>for your app or <br>digital product.</div>
                    <div class="h3">Showcase your app or digital product to your customers with a very creative way.</div>
                    <div class="home_btn">
                        <a href="#" class="home_btn default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home_col">
                <div class="home_img relative text-right">
                    <img class="animated a_fr" data-delay=".5s" src="img/01.png" alt="">

                    <!-- NB: if you area a wordpress developer, just remove this 2nd image. this image used for extra animation effect -->
                    <img src="img/01.1.png" data-duration="1s" class="absolute r0 t0 animated a_fr" alt="">
                </div>
                <div class="round_animate_wrap">
                    <div class="round_animate">
                        <div class="shape_1">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_2">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_3">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>