<!-- 09. pricing_area -->
<div class="pricing_area sp100" id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <div class="h1">Choose the product <br>that you really need!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 price_col">
                <div class="single_price animated a_fu">
                    <div class="price_head">
                        <div class="h1">Free!</div>
                        <p>For 30 Days!</p>
                    </div>
                    <div class="price_body">
                        <ul>
                            <li>10+ Free Themes</li>
                            <li>Limited Disk Creator</li>
                            <li>One User Support</li>
                            <li>Money Transfer System</li>
                            <li>Limited Support</li>
                        </ul>
                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                        <span>* No credit card required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price_col">
                <div class="single_price active animated a_fu" data-delay=".3s">
                    <div class="price_head">
                        <div class="h1">$<span class="count">20</span></div>
                        <p>For single user</p>
                    </div>
                    <div class="price_body">
                        <ul>
                            <li>100+ Free Themes</li>
                            <li>Unlimited Disk Creator</li>
                            <li>One User Support</li>
                            <li>Money Transfer System</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                        <span>* No hidden charge or auto-bill</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price_col">
                <div class="single_price animated a_fu" data-delay=".6s">
                    <div class="price_head">
                        <div class="h1">$<span class="count">49</span></div>
                        <p>For 2 - 10 user</p>
                    </div>
                    <div class="price_body">
                        <ul>
                            <li>500+ Free Themes</li>
                            <li>Unlimited Disk Creator</li>
                            <li>2 - 10 User Support</li>
                            <li>Money Transfer System</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                        <span>* No hidden charge or auto-bill</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 price_col">
                <div class="single_price animated a_fu" data-delay=".9s">
                    <div class="price_head">
                        <div class="h1">$<span class="count">49</span></div>
                        <p>For unlimited user</p>
                    </div>
                    <div class="price_body">
                        <ul>
                            <li>Unlimited Free Themes</li>
                            <li>Unlimited Disk Dreator</li>
                            <li>Unlimited User Support</li>
                            <li>Money Transfer System</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a href="#" class="default-btn hvr-shutter-out-horizontal">Buy Now</a>
                        <span>* No hidden charge or auto-bill</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pr_txt text-center">
                    We don’t have any hidden charge or we don’t make auto-bill to our customers.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 09. /pricing_area -->