<!-- 04. product_area -->
<div class="product_area sp100" id="product">
    <div class="container">
        <div class="row left_dsc">
            <div class="col-md-6 product_col">
                <div class="product_img relative">
                    <img class=" animated a_fl" src="img/04.png" alt="">
                </div>
            </div>
            <div class="col-md-6 product_col">
                <div class="product_dsc animated a_fr">
                    <div class="h1">Colorful designs with very beautiful shapes.</div>
                    <p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed is agreed admire so on result parish. Put use set uncommonly announcing and travelling.</p>
                    <a href="#" class="home_btn default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row right_dsc">
            <div class="col-md-6 product_col">
                <div class="product_img large_img animated a_fu">
                    <img src="img/05.png" alt="">
                </div>
            </div>
            <div class="col-md-6 product_col">
                <div class="product_dsc animated a_fu">
                    <div class="h1">Fastest in loading, perfect in design.</div>
                    <p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed is agreed admire so on result parish. Put use set uncommonly announcing and travelling.</p>
                    <a href="#" class="home_btn default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 04. /product_area -->