<!-- 10. testimonial_area -->
<div class="testimonial_area animated a_fu" id="testimonial">
    <div class="container">
        <div class="testimonial row">
            <div class="single_tst col-md-4">
                <p>Not far stuff she think the jokes. Going as by do  known noise he wrote round leave. Warmly put branch people narrow see. Winding its waiting yet parlors married own feeling. Marry fruit do spite jokes an times. Whether at it unknown warrant herself winding if.</p>
                <div class="tst_author">
                    <div class="tst_img">
                        <img src="img/09.png" alt="">
                    </div>
                    <div class="cdtb">
                        <h5>Hanson Jones</h5>
                        <span class="cdt">Businessman, 35 years old</span>
                    </div>
                </div>
            </div>
            <div class="single_tst col-md-4">
                <p>Not far stuff she think the jokes. Going as by do  known noise he wrote round leave. Warmly put branch people narrow see. Winding its waiting yet parlors married own feeling. Marry fruit do spite jokes an times. Whether at it unknown warrant herself winding if.</p>
                <div class="tst_author">
                    <div class="tst_img">
                        <img src="img/10.png" alt="">
                    </div>
                    <div class="cdtb">
                        <h5>Jennifer</h5>
                        <span class="cdt">Student, 23 years old</span>
                    </div>
                </div>
            </div>
            <div class="single_tst col-md-4">
                <p>Not far stuff she think the jokes. Going as by do  known noise he wrote round leave. Warmly put branch people narrow see. Winding its waiting yet parlors married own feeling. Marry fruit do spite jokes an times. Whether at it unknown warrant herself winding if.</p>
                <div class="tst_author">
                    <div class="tst_img">
                        <img src="img/11.png" alt="">
                    </div>
                    <div class="cdtb">
                        <h5>Martin Arham</h5>
                        <span class="cdt">Job Holder, 28 years old</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tst_btn spt100">
                    <a href="#">See more tesimonials <i class="icofont icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 10. /testimonial_area -->