<!-- 06. testimonial -->
<div class="brand_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand_slider">
                    <div class="single_slide animated a_fu">
                        <p>One of the best product for our daily life. Life is more easy and beautiful by  the touch of the One product.</p>
                        <div class="c_logo">
                            <img src="img/06.jpg" alt="">
                        </div>
                    </div>
                    <div class="single_slide animated a_fu" data-delay=".3s">
                        <p>One of the best product for our daily life. Life is more easy and beautiful by  the touch of the One product.</p>
                        <div class="c_logo">
                            <img src="img/07.jpg" alt="">
                        </div>
                    </div>
                    <div class="single_slide animated a_fu" data-delay=".6s">
                        <p>One of the best product for our daily life. Life is more easy and beautiful by  the touch of the One product.</p>
                        <div class="c_logo">
                            <img src="img/08.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 06. /testimonial -->