<!-- 03. video_area -->
<div class="video_area" id="video">
    <div class="video_control">
        <div class="vdo_btn">
            <a href="https://www.youtube.com/watch?v=WixYDPyHohI" class="fa fa-play" data-rel="prettyPhoto"></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="vdo_dsc">
                    <div class="h1 animated a_fu">No more complex thing for your product.</div>
                    <p class="animated a_fu">Now for manners use has company believe parlors.  Least nor party who wrote while did. Excuse formed is agreed admire so on result parish. Put use set  uncommonly announcing and travelling. Allow sweetness direction to as necessary.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 03. /video_area -->