<!-- 01. hero_area -->
<div class="hero_area" id="welcome">
    <div class="sticky-anchor"></div>
    
    {{> header }}

    {{> home_area }}
    
</div>
<!-- 01. /hero_area -->

{{> feature }}
{{> video }}
{{> product }}
    
<div class="cta_and_testimonial" id="testimonial_2">
  {{> cta }}
  {{> testimonial }}
</div>
{{> service }}
{{> funfact }}
{{> pricing }}
{{> testimonial_area }}
{{> faq }}
{{> cta_2 }}

<!-- Small modal -->

<div class="modal get_touch fade bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content relative">
      <a href="#" class="modal-close" data-toggle="modal" data-target=".bs-example-modal-sm">X</a>
        <div class="modal_head">
            <div class="h2">Get in touch</div>
            <p>send us a message & we will be in touch</p>
        </div>
        <form action="php/mail.php" id="ajax-contact" method="post">
            <input type="text" id="name" name="name" placeholder="Your name">
            <input type="email" id="email" name="email" placeholder="Email address">
            <textarea id="contactMsg" name="contactMsg" placeholder="Messege"></textarea>
            <span class="contactSubmit">
                <input type="submit" id="submit" name="submit" value="Send Now">
            </span>
            <div id="form-messages"></div>
        </form>
    </div>
  </div>
</div>