.text-success {
    color: green;
    background: #ffffff;
    padding: 5px;
    opacity: 1 !important;
}

.text-danger {
    color: red;
    background: #ffffff;
    padding: 5px;
    opacity: 1 !important;
}
.input-group-addons {
    display: inline-block;
}
div.form_icon {
    opacity: 0;
    color: #000;
    font-size: 15px;
}